.navbar ul li a{
    display:none;
}
.navbar{
    justify-content: none;
    align-items: none;
    padding-top: 20px;
}
.icon{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color:white;
    font-size: 36px;
    padding: 10px;
    
}
.navbar ul{
    display:block;
    
}


.navbar.responsive {position: relative;}
.navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.navbar.responsive a {
      display: block;
      text-align: left;
    }